<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruhulamin.callambulance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".User.Features.Hire"></activity>
        <activity android:name=".User.Features.Payment" />
        <activity android:name=".User.Creator" />
        <activity android:name=".User.AllCategories" />
        <activity android:name=".User.LogIn" />
        <activity android:name=".Common.OnBoarding" />
        <activity android:name=".User.UserDashboard" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>